.header {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
}

.logo {
   width: 150px;
}

.nav-items>ul {
   font-size: 24px;
   display: flex;
   list-style-type: none;
}

.nav-items>ul>li {
   padding: 10px;
   margin: 10px;
}

.res-card {
   width: 200px;
   padding: 10px;
   background-color: #f0f0f0;
   margin: 5px;
   /* cursor: pointer; */
}

.res-card:hover {
   border: 1px solid #f0f0f0;
   cursor: pointer;
}

.search {
   padding: 10px;
}

.res-logo {
   width: 98%;
   margin: 2px;
}

.res-container {
   display: flex;
   flex-wrap: wrap;
}

.filter-btn {
   margin: 10;
   cursor: pointer;
}

.shimmer-con {
   display: flex;
   flex-wrap: wrap;
}

.shimmer-card {
   width: 200px;
   height: 400px;
   margin: 5px;
   margin-top: 10px;
   background-color: #f0f0f0;
}

.login-btn {
   background-color: #f0f0f0;
   padding: 0 20px;
   margin-right: 5px;
}

.filter {
   display: flex;
}

.user-Card {
   padding: 5px;
   border: 1px solid black;
}